* {
    margin: 0;
    padding: 0;
    background-color: rgb(50, 0, 115);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#name {
    background-color: rgb(50, 0, 115);
    border: 2px outset white;
    color: seashell;
    font-weight: lighter;
    letter-spacing: 2px;
}

#cwc-title {
    color: white;
    width: 100%;
    display: flex;
    background-color: rgb(70, 13, 145);
    justify-content: space-between;
    border: 2px solid seashell;
}

#nav ul {
    display: flex;
    justify-content: space-evenly;
}

#nav ul li {
    color: white;
    list-style: none;
    font-weight: 700;
    text-transform: uppercase;
}

#nav ul li:hover {
    border-bottom: 4px solid white;
    cursor: pointer;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

#slt select option {
    background-color: aliceblue;
}

#cwc-title2 {
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
}

#imglogo2 {
    position: relative;
    bottom: 14px;
}

#vm:hover {
    text-decoration: underline;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}

.active {
    background-color: silver;
    border-radius: 6px;
}

#navhide {
    display: none;
}


#arrow {
    position: fixed;
    top: 92%;
    right: 2%;
}

@media screen and (max-width:520px) {

    body {
        overflow: hidden;
        background-color: honeydew;
        overflow-x: hidden;
    }

    div {
        width: 100%;
    }

    .active {
        background-color: silver;
        border-radius: 6px;
    }

    #navhide {
        display: block;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    #navhide ul {
        display: flex;
        justify-content: space-between;
        font-size: 8pt;
        position: fixed;
        left: 0;
        top: 90%;
        margin: 0;
        bottom: 0;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    #navhide ul li {
        position: relative;
        right: 20px;
    }

    #nav {
        display: none;
    }

    .container-fluid {
        width: 100%;
    }

    #nav ul {
        display: flex;
        position: relative;
        right: 18px;
        justify-content: space-between;
    }

    #nav ul li {
        font-size: 7pt;
    }

    #nav ul li Link {
        color: aliceblue;
    }

    #nav ul li:hover {
        border-bottom: 4px solid white;

    }

    #slt {
        width: 100%;
    }

    section {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    #m-table {
        display: block;
    }

    table tr {
        width: 100%;
        font-size: 8pt;
    }

    #carousel:hover {
        width: 102%;
    }

    #main {
        border-bottom: 1px solid white;
        border-top: 1px solid white;
    }

    #cwc-title {
        width: 100%;
        font-size: 8px;
        font-weight: bolder;
        justify-content: space-around;
        text-align: justify;
        padding: 5px;
        display: contents;
    }

    #imglogo {
        width: 150px;
    }

    #matchlogo {
        display: flex;
        flex-flow: column;
        padding: 2px;
        width: 100%;
        font-size: 8pt;
    }

    #cwc-title2 {
        display: flex;
        flex-flow: column;
        text-align: center;
        color: white;
        font-size: 10pt;
    }

    .card:hover {
        bottom: 5px;
        cursor: pointer;
    }

    h5:hover {
        text-decoration: underline;
    }

    #arrow {
        position: fixed;
        bottom: 10%;
        right: 2%;
    }

    #arrow:hover {
        border: 2px double wheat;
    }
    #cwcmat{
        text-align: center;
        font-size: medium;
        justify-content: center;
    }
}